doctype html
html
  head
    title npmserve
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' type='text/css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

  body
    div.header
      div.icon
      h1 npm
        span serve
    div.content
      block content
